<div class="container">
  <h1>
    SkiDash
  </h1>
  <section>
    <div class="row row-table">
      <div class="col-sm-4 td-top">
        <h1>
          Eldora
        </h1>
        <h3>Opening: TBD</h3>

        <br>
        <br>
        <p>
          McSweeney's ut sapiente nihil. Vice actually Marfa ennui est, whatever tofu iPhone synth qui sustainable sint. Wolf lomo fixie Wes Anderson sed minim, cupidatat dolor narwhal magna.
        </p>
      </div>

        <div class="col-sm-4 td-top">
          <h1>
            Steamboat
          </h1>
          <h3>Opening: Nov 26th</h3>
          <%= render "shared/countdown1" %>
          <br>
          <br>
          <p>
            McSweeney's ut sapiente nihil. Vice actually Marfa ennui est, whatever tofu iPhone synth qui sustainable sint. Wolf lomo fixie Wes Anderson sed minim, cupidatat dolor narwhal magna.
          </p>
        </div>

      <div class="col-sm-4 td-top">
        <h1>
          Breckenridge
        </h1>
        <h3>Opening: Nov 13th</h3>
        <%= render "shared/countdown2" %>
        <br>
        <br>
        <p>
          McSweeney's ut sapiente nihil. Vice actually Marfa ennui est, whatever tofu iPhone synth qui sustainable sint. Wolf lomo fixie Wes Anderson sed minim, cupidatat dolor narwhal magna.
        </p>
      </div>
    </div>
  </section>
</div>

