<div class="container">
  <h1>
    SkiDash
  </h1>
  <section>
    <div class="row row-table">
      <div class="col-md-3 td-top">
        <h2>
          Eldora
        </h2>
        <h3>Opening: Dec 1(e)</h3>
        <script>countdown("12/01/2015 8:30 AM", "eldora")</script>
        <h4 id="eldora"></h4>
        <br>
        <br>

        <%= render partial: "shared/forecast_eld" %>
        <br>
        <br>
        <br>
        <p>
          Ski Area Webcam
        </p>
        <a href="http://63.147.112.178:9595/axis-cgi/jpg/image.cgi?resolution=640x480" target="_blank"><img src="http://63.147.112.178:9595/axis-cgi/jpg/image.cgi?resolution=640x480" height="20%" width="60%"></a>
        <br>
        <br>
        <p>
          Traffic Update
        </p>

      </div>

        <div class="col-md-3 td-top">
          <h2>
            Steamboat
          </h2>
          <h3>Opening: Nov 26</h3>
          <script>countdown("11/26/2015 8:30 AM", "steamboat")</script>
          <h4 id="steamboat"></h4>
          <br>
          <br>

          <%= render "shared/forecast_ste" %>
          <br>
          <br>
          <p>
            Ski Area Webcam
          </p>
          <a href="http://manage.hdrelay.com/snapshot/4b8a8aec-33e6-4cea-b2ac-73759064b0ce?size=710x425&f=300000" target="_blank"><img src="http://manage.hdrelay.com/snapshot/4b8a8aec-33e6-4cea-b2ac-73759064b0ce?size=710x425&f=300000" height="20%" width="60%"></a>
          <br>
          <br>
          <p>
            Traffic Update
          </p>

        </div>

      <div class="col-md-3 td-top">
        <h2>
          Breckenridge
        </h2>
        <h3>Opening: Nov 13</h3>
        <script>countdown("11/13/2015 8:30 AM", "breckenridge")</script>
        <h4 id="breckenridge"></h4>
        <br>
        <br>

        <%= render "shared/forecast_bre" %>
        <br>
        <br>
        <p>
          Ski Area Webcam
        </p>
        <a href="http://common.snow.com/Mtncams/peak8base.jpg" target="_blank"><img src="http://common.snow.com/Mtncams/peak8base.jpg" height="20%" width="60%"></a>
        <br>
        <br>
        <p>
          Traffic Update
        </p>

      </div>

      <div class="col-md-3 td-top">
        <h2>
          A-Basin
        </h2>
        <h3>Opening: Oct 20(e)</h3>
        <script>countdown("10/20/2015 8:30 AM", "abasin")</script>
        <h4 id="abasin"></h4>
        <br>
        <br>

        <%= render "shared/forecast_aba" %>
        <br>
        <br>
        <p>
            Ski Area Webcam
          </p>
        <a href="http://arapahoebasin.com/ABasin/assets/images/webcams/webcam5/abasincam5.jpg" target="_blank"><img src="http://arapahoebasin.com/ABasin/assets/images/webcams/webcam5/abasincam5.jpg?9/2/20155:56PM" height="20%" width="60%"></a>
          <br>
          <br>
        <p>
          Traffic Update
        </p>

      </div>

    </div>
  </section>
</div>

