---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/74d34edfa66387c4/conditions/q/80466.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.094'
      Last-Modified:
      - Wed, 11 Nov 2015 15:45:58 GMT
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n<response>\n\t<version>0.1</version>\n\t<termsofService>http://www.wunderground.com/weather/api/d/terms.html</termsofService>\n\t<features>\n\t\t<feature>conditions</feature>\n\t</features>\n
        \ <current_observation>\n\t\t<image>\n\t\t<url>http://icons.wxug.com/graphics/wu2/logo_130x80.png</url>\n\t\t<title>Weather
        Underground</title>\n\t\t<link>http://www.wunderground.com</link>\n\t\t</image>\n\t\t<display_location>\n\t\t<full>Nederland,
        CO</full>\n\t\t<city>Nederland</city>\n\t\t<state>CO</state>\n\t\t<state_name>Colorado</state_name>\n\t\t<country>US</country>\n\t\t<country_iso3166>US</country_iso3166>\n\t\t<zip>80466</zip>\n\t\t<magic>1</magic>\n\t\t<wmo>99999</wmo>\n\t\t<latitude>39.96570587</latitude>\n\t\t<longitude>-105.49248505</longitude>\n\t\t<elevation>2487.00000000</elevation>\n\t\t</display_location>\n\t\t<observation_location>\n\t\t<full>Hurricane
        Hill, Nederland, Colorado</full>\n\t\t<city>Hurricane Hill, Nederland</city>\n\t\t<state>Colorado</state>\n\t\t<country>US</country>\n\t\t<country_iso3166>US</country_iso3166>\n\t\t<latitude>39.975040</latitude>\n\t\t<longitude>-105.490143</longitude>\n\t\t<elevation>8650
        ft</elevation>\n\t\t</observation_location>\n\t\t<estimated>\n\t\t</estimated>\n\t\t<station_id>KCONEDER6</station_id>\n\t\t<observation_time>Last
        Updated on November 11, 8:45 AM MST</observation_time>\n\t\t<observation_time_rfc822>Wed,
        11 Nov 2015 08:45:45 -0700</observation_time_rfc822>\n\t\t<observation_epoch>1447256745</observation_epoch>\n\t\t<local_time_rfc822>Wed,
        11 Nov 2015 08:45:58 -0700</local_time_rfc822>\n\t\t<local_epoch>1447256758</local_epoch>\n\t\t<local_tz_short>MST</local_tz_short>\n\t\t<local_tz_long>America/Denver</local_tz_long>\n\t\t<local_tz_offset>-0700</local_tz_offset>\n\t\t<weather>Overcast</weather>\n\t\t<temperature_string>27.0
        F (-2.8 C)</temperature_string>\n\t\t<temp_f>27.0</temp_f>\n\t\t<temp_c>-2.8</temp_c>\n\t\t<relative_humidity>76%</relative_humidity>\n\t\t<wind_string>From
        the North at 8.9 MPH Gusting to 30.0 MPH</wind_string>\n\t\t<wind_dir>North</wind_dir>\n\t\t<wind_degrees>0</wind_degrees>\n\t\t<wind_mph>8.9</wind_mph>\n\t\t<wind_gust_mph>30.0</wind_gust_mph>\n\t\t<wind_kph>14.3</wind_kph>\n\t\t<wind_gust_kph>48.3</wind_gust_kph>\n\t\t<pressure_mb>1010</pressure_mb>\n\t\t<pressure_in>29.83</pressure_in>\n\t\t<pressure_trend>+</pressure_trend>\n\t\t\n\t\t<dewpoint_string>20
        F (-6 C)</dewpoint_string>\n\t\t<dewpoint_f>20</dewpoint_f>\n\t\t<dewpoint_c>-6</dewpoint_c>\n\t\t\n\t\t\n\t\t<heat_index_string>NA</heat_index_string>\n\t\t<heat_index_f>NA</heat_index_f>\n\t\t<heat_index_c>NA</heat_index_c>\n\t\t\n\t\t\n\t\t<windchill_string>18
        F (-8 C)</windchill_string>\n\t\t<windchill_f>18</windchill_f>\n\t\t<windchill_c>-8</windchill_c>\n\t\t\n
        \       <feelslike_string>18 F (-8 C)</feelslike_string>\n        <feelslike_f>18</feelslike_f>\n
        \       <feelslike_c>-8</feelslike_c>\n\t\t<visibility_mi>10.0</visibility_mi>\n\t\t<visibility_km>16.1</visibility_km>\n\t\t<solarradiation></solarradiation>\n\t\t<UV></UV>\n\t\t<precip_1hr_string>0.00
        in ( 0 mm)</precip_1hr_string>\n\t\t<precip_1hr_in>0.00</precip_1hr_in>\n\t\t<precip_1hr_metric>
        0</precip_1hr_metric>\n\t\t<precip_today_string>0.00 in (0 mm)</precip_today_string>\n\t\t<precip_today_in>0.00</precip_today_in>\n\t\t<precip_today_metric>0</precip_today_metric>\n\t\t\n\t\t\n\t\t\n\t\t<icon>cloudy</icon>\n\t\t<icon_url>http://icons.wxug.com/i/c/k/cloudy.gif</icon_url>\n\t\t<forecast_url>http://www.wunderground.com/US/CO/Nederland.html</forecast_url>\n
        \       \n        <history_url>http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KCONEDER6</history_url>\n
        \       \n\t\t<ob_url>http://www.wunderground.com/cgi-bin/findweather/getForecast?query=39.975040,-105.490143</ob_url>\n\t</current_observation>\n\n\t\t\n\t\n\t\n\t\n\t\n
        \   \n\t\n\t\n\t\t\n\t\n\n    \n    \n    \n\t\n  \n\t\n\t\n\t\n\t\n\t\n    \n
        \   \n\n\n    \n    \n    \n    \n</response>\n\t\n"
  recorded_at: Wed, 11 Nov 2015 15:45:58 GMT
[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/74d34edfa66387c4/conditions/q/81657.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.113'
      Last-Modified:
      - Wed, 11 Nov 2015 15:45:59 GMT
      Nncoection:
      - close
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n<response>\n\t<version>0.1</version>\n\t<termsofService>http://www.wunderground.com/weather/api/d/terms.html</termsofService>\n\t<features>\n\t\t<feature>conditions</feature>\n\t</features>\n
        \ <current_observation>\n\t\t<image>\n\t\t<url>http://icons.wxug.com/graphics/wu2/logo_130x80.png</url>\n\t\t<title>Weather
        Underground</title>\n\t\t<link>http://www.wundergrou[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/74d34edfa66387c4/forecast/q/80466.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.466'
      Last-Modified:
      - Wed, 11 Nov 2015 15:46:00 GMT
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n<response>\n\t<version>0.1</version>\n\t<termsofService>http://www.wunderground.com/weather/api/d/terms.html</termsofService>\n\t<features>\n\t\t<feature>forecast</feature>\n\t</features>\n\t<forecast>\n\t\t<txt_forecast>\n\t\t<date>8:11
        AM MST</date>\n\t\t<forecastdays>\n\t\t<forecastday>\n\t\t<period>0</period>\n\t\t<icon>snow</icon>\n\t\t<icon_url>http://icons.wxug.com/i/c/k/snow.gif</icon_url>\n\t\t<title>Wednesday</title>\n\t\t<fcttext><![CDATA[Windy
        with on and off snow showers this morning. Bright sunshine later. High 28F.
        Winds W at 25 to 35 mph. Chance of snow 50%. Winds could occasionally gust
        over 50 mph.]]></fcttext>\n\t\t<fcttext_metric><![CDATA[Windy. Snow showers
        this morning. The becoming mostly sunny later. High -3C. Winds W at 40 to
        55 km/h. Chance of snow 40%. Winds could occasionally gust over 80 km/h.]]></fcttext_metric>\n\t\t<pop>50</pop>\n\t\t</forecastday>\n\t\t<forecastday>\n\t\t<period>1</period>\n\t\t<icon>nt_partlycloudy</icon>\n\t\t<icon_url>http://icons.wxug.com/i/c/k/nt_partlycloudy.gif</icon_url>\n\t\t<title>Wednesday
        Night</title>\n\t\t<fcttext><![CDATA[Clear skies. Gusty winds during the evening.
        Low around 20F. Winds W at 20 to 30 mph.]]></fcttext>\n\t\t<fcttext_metric><![CDATA[Clear.
        Windy this evening. Low -7C. Winds W at 30 to 50 km/h.]]></fcttext_metric>\n\t\t<pop>0</pop>\n\t\t</f[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=Breckenridge,CO&key=AIzaSyBWMUFnd6Bpid54ZW5XccfTtkITQBNXBtY&language=en-EN&mode=driving&origins=Boulder,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [ "Breckenridge, CO 80424, USA" ],
           "origin_addresses" : [ "Boulder, CO, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "149 km",
                          "value" : 148598
                       },
                       "duration" : {
                          "text" : "1 hour 54 mins",
                          "value" : 6815
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 11 Nov 2015 15:46:02 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=Vail,CO&key=AIzaSyBWMUFnd6Bpid54ZW5XccfTtkITQBNXBtY&language=en-EN&mode=driving&origins=Boulder,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [ "Vail, CO, USA" ],
           "origin_addresses" : [ "Boulder, CO, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "174 km",
                          "value" : 174421
                       },
                       "duration" : {
                          "text" : "2 hours 1 min",
                          "value" : 7234
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 11 Nov 2015 15:46:02 GMT
- request:
    method: get
    uri: http://127.0.0.1:65525/__identify__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
    body:
      encoding: UTF-8
      string: '2229109200'
  recorded_at: Wed, 11 Nov 2015 16:08:34 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session
    body:
      encoding: UTF-8
      string: '{"desiredCapabilities":{"browserName":"firefox","version":"","platform":"ANY","javascriptEnabled":true,"cssSelectorsEnabled":true,"takesScreenshot":true,"nativeEvents":false,"rotatable":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"newSession","sessionId":"2859d315-59fe-fb45-9aff-9c8b21419a10","status":0,"value":{"cssSelectorsEnabled":true,"browserName":"firefox","handlesAlerts":true,"javascriptEnabled":true,"nativeEvents":false,"platform":"Darwin","rotatable":false,"takesScreenshot":true,"version":"41.0","webStorageEnabled":true,"applicationCacheEnabled":true,"databaseEnabled":true,"locationContextEnabled":true,"acceptSslCerts":true}}'
  recorded_at: Wed, 11 Nov 2015 16:08:36 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/2859d315-59fe-fb45-9aff-9c8b21419a10/url
    body:
      encoding: UTF-8
      string: '{"url":"http://127.0.0.1:65525/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"get","sessionId":"2859d315-59fe-fb45-9aff-9c8b21419a10","status":0,"value":""}'
  recorded_at: Wed, 11 Nov 2015 16:08:37 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/2859d315-59fe-fb45-9aff-9c8b21419a10/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":".//select[(((./@id = ''mountain-form1'' or
        ./@name = ''mountain-form1'') or ./@placeholder = ''mountain-form1'') or ./@id
        = //label[normalize-space(string(.)) = ''mountain-form1'']/@for)] | .//label[normalize-space(string(.))
        = ''mountain-form1'']//.//select"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"findElements","sessionId":"2859d315-59fe-fb45-9aff-9c8b21419a10","status":0,"value":[{"ELEMENT":"{631ed9ef-1ff8-d949-8c26-b2dfc34d891a}","element-6066-11e4-a52e-4f735466cecf":"{631ed9ef-1ff8-d949-8c26-b2dfc34d891a}"}]}'
  recorded_at: Wed, 11 Nov 2015 16:08:37 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/2859d315-59fe-fb45-9aff-9c8b21419a10/element/%7B631ed9ef-1ff8-d949-8c26-b2dfc34d891a%7D/displayed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"isElementDisplayed","sessionId":"2859d315-59fe-fb45-9aff-9c8b21419a10","status":0,"value":true}'
  recorded_at: Wed, 11 Nov 2015 16:08:37 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/2859d315-59fe-fb45-9aff-9c8b21419a10/element/%7B631ed9ef-1ff8-d949-8c26-b2dfc34d891a%7D/enabled
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"isElementEnabled","sessionId":"2859d315-59fe-fb45-9aff-9c8b21419a10","status":0,"value":true}'
  recorded_at: Wed, 11 Nov 2015 16:08:37 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/2859d315-59fe-fb45-9aff-9c8b21419a10/element/%7B631ed9ef-1ff8-d949-8c26-b2dfc34d891a%7D/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":".//option[normalize-space(string(.)) = ''Eldora'']"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"findChildElements","sessionId":"2859d315-59fe-fb45-9aff-9c8b21419a10","status":0,"value":[]}'
  recorded_at: Wed, 11 Nov 2015 16:08:37 GMT
[...]
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/2859d315-59fe-fb45-9aff-9c8b21419a10/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":".//select[(((./@id = ''mountain-form1'' or
        ./@name = ''mountain-form1'') or ./@placeholder = ''mountain-form1'') or ./@id
        = //label[contains(normalize-space(string(.)), ''mountain-form1'')]/@for)]
        | .//label[contains(normalize-space(string(.)), ''mountain-form1'')]//.//select"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"findElements","sessionId":"2859d315-59fe-fb45-9aff-9c8b21419a10","status":13,"value":{"message":"Session
        not found: 2859d315-59fe-fb45-9aff-9c8b21419a10","stackTrace":[{"methodName":"nsCommandProcessor.prototype.execute","fileName":"file:///var/folders/th/j9k6kb_96cz6vcc45505qdt80000gn/T/webdriver-profile20151111-11717-1n1pyzh/extensions/fxdriver@googlecode.com/components/command-processor.js","lineNumber":12686,"columnNumber":21},{"methodName":"Dispatcher.executeAs/<","fileName":"file:///var/folders/th/j9k6kb_96cz6vcc45505qdt80000gn/T/webdriver-profile20151111-11717-1n1pyzh/extensions/fxdriver@googlecode.com/components/driver-component.js","lineNumber":9456,"columnNumber":5},{"methodName":"Resource.prototype.handle","fileName":"file:///var/folders/th/j9k6kb_96cz6vcc45505qdt80000gn/T/webdriver-profile20151111-11717-1n1pyzh/extensions/fxdriver@googlecode.com/components/driver-component.js","lineNumber":9603,"columnNumb[...]
[...]
