---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/e9635e643130871d/hourly/q/80466.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.144'
      Last-Modified:
      - Thu, 24 Sep 2015 21:40:01 GMT
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n<response>\n\t<version>0.1</version>\n\t<termsofService>http://www.wunderground.com/weather/api/d/terms.html</termsofService>\n\t<features>\n\t\t<feature>hourly</feature>\n\t</features>\n\t<hourly_forecast>\n\t\t<forecast>\n\t\t<FCTTIME>\n\t\t<hour>16</hour><hour_padded>16</hour_padded><min>00</min><min_unpadded>0</min_unpadded><sec>0</sec><year>2015</year><mon>9</mon><mon_padded>09</mon_padded><mon_abbrev>Sep</mon_abbrev><mday>24</mday><mday_padded>24</mday_padded><yday>266</yday><isdst>1</isdst><epoch>1443132000</epoch><pretty>4:00
        PM MDT on September 24, 2015</pretty><civil>4:00 PM</civil><month_name>September</month_name><month_name_abbrev>Sep</month_name_abbrev><weekday_name>Thursday</weekday_name><weekday_name_night>Thursday
        Night</weekday_name_night><weekday_name_abbrev>Thu</weekday_name_abbrev><weekday_name_unlang>Thursday</weekday_name_unlang><weekday_name_night_unlang>Thursday
        Night</weekday_name_night_unlang><ampm>PM</ampm><tz></tz><age></age><UTCDATE></UTCDATE>\n\t\t\t</FCTTIME>\n\t\t\t<temp>\n\t\t\t\t<english>69</english>\n\t\t\t\t<metric>21</metric>\n\t\t\t</temp>\n\t\t\t<dewpoint>\n\t\t\t\t<english>30</english>\n\t\t\t\t<metric>-1</metric>\n\t\t\t</dewpoint>\n\t\t\t<condition>Clear</condition>\n\t\t\t\n\t\t\t\n\t\t\t<icon>clear</icon>\n\t\t\t<icon_url>http://icons.wxug.com/i/c/k/clear.gif</icon_url>\n\t\t\t<fctcode>1</fctcode>\n\t\t\t<sky>18</sky>\n\t\t\t<wspd>\n\t\t\t\t<english>7</english>\n\t\t\t\t<metric>11</metric>\n\t\t\t</wspd>\n\t\t\t<wdir>\n\t\t\t\t<dir>E</dir>\n\t\t\t\t<degrees>87</degrees>\n\t\t\t</wdir>\n\t\t\t<wx>Sunny</wx>\n\t\t\t<uvi>2</uvi>\n\t\t\t<humidity>24</humidity>\n\t\t\t<windchill>\n\t\t\t\t<english>-9999</english>\n\t\t\t\t<metric>-9999</metric>\n\t\t\t</windchill>\n\t\t\t<heatindex>\n\t\t\t\t<english>-9999</english>\n\t\t\t\t<metric>-9999</metric>\n\t\t\t</heatindex>\n\t\t\t\n\t\t\t\t<feelslike>\n\t\t\t\t\t<english>69</english>\n\t\t\t\t\t<metric>21</metric>\n\t\t\t\t</feelslike>\n\t\t\t\n\t\t\t<qpf>\n\t\t\t\t<english>0.0</english>\n\t\t\t\t<metric>0</metric>\n\t\t\t</qpf>\n\t\t\t<snow>\n\t\t\t\t<english>0.0</english>\n\t\t\t\t<metric>0</metric>\n\t\t\t</snow>\n\t\t\t<pop>0</pop>\n\t\t\t<mslp>\n\t\t\t\t<english>30.11</english>\n\t\t\t\t<metric>1020</metric>\n\t\t\t</mslp>\n\t\t</forecast>\n\t\t\n\t\n\t\t\n\t\t<forecast>\n\t\t\t<FCTTIME>\n\t\t\t\t<hour>17</hour><hour_padded>17</hour_padded><min>00</min><min_unpadded>0</min_unpadded><sec>0</sec><year>2015</year><mon>9</mon><mon_padded>09</mon_padded><mon_abbrev>Sep</mon_abbrev><mday>24</mday><mday_padded>24</mday_padded><yday>266</yday><isdst>1</isdst><epoch>1443135600</epoch><pretty>5:00
        PM MDT on September 24, 2015</pretty><c[...]
[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/e9635e643130871d/forecast/q/80466.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.040'
      Last-Modified:
      - Thu, 24 Sep 2015 21:40:21 GMT
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n<response>\n\t<version>0.1</version>\n\t<termsofService>http://www.wunderground.com/weather/api/d/terms.html</termsofService>\n\t<features>\n\t\t<feature>forecast</feature>\n\t</features>\n\t<forecast>\n\t\t<txt_forecast>\n\t\t<date>2:33
        PM MDT</date>\n\t\t<forecastdays>\n\t\t<forecastday>\n\t\t<period>0</period>\n\t\t<icon>clear</icon>\n\t\t<icon_url>http://icons.wxug.com/i/c/k/clear.gif</icon_url>\n\t\t<title>Thursday</title>\n\t\t<fcttext><![CDATA[Mainly
        clear. Lows overnight in the mid 40s.]]></fcttext>\n\t\t<fcttext_metric><![CDATA[Lots
        of sunshine. High near 20C. Winds E at 10 to 15 km/h.]]></fcttext_metric>\n\t\t<pop>0</pop>\n\t\t</forecastday>\n\t\t<forecastday>\n\t\t<period>1</period>\n\t\t<icon>nt_clear</icon>\n\t\t<icon_url>http://icons.wxug.com/i/c/k/nt_clear.gif</icon_url>\n\t\t<title>Thursday
        Night</title>\n\t\t<fcttext><![CDATA[Clear skies. Low 46F. Winds SE at 5 to
        10 mph.]]></fcttext>\n\t\t<fcttext_metric><![CDATA[A clear sky. Low 7C. Winds
        SE at 10 to 15 km/h.]]></fctte[...]
[...]
