---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/e9635e643130871d/forecast/q/80466.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.367'
      Last-Modified:
      - Thu, 29 Oct 2015 21:38:09 GMT
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n<response>\n\t<version>0.1</version>\n\t<termsofService>http://www.wunderground.com/weather/api/d/terms.html</termsofService>\n\t<features>\n\t\t<feature>forecast</feature>\n\t</features>\n\t<forecast>\n\t\t<txt_forecast>\n\t\t<date>2:29
        PM MDT</date>\n\t\t<forecastdays>\n\t\t<forecastday>\n\t\t<period>0</period>\n\t\t<icon>cloudy</icon>\n\t\t<icon_url>http://icons.wxug.com/i/c/k/cloudy.gif</icon_url>\n\t\t<title>Thursday</title>\n\t\t<fcttext><![CDATA[Generally
        cloudy. High near 45F. Winds light and variable.]]></fcttext>\n\t\t<fcttext_metric><![CDATA[Rain
        and snow showers. Low 1C.]]></fcttext_metric>\n\t\t<pop>10</pop>\n\t\t</forecastday>\n\t\t<forecastday>\n\t\t<period>1</period>\n\t\t<icon>nt_mostlycloudy</icon>\n\t\t<icon_url>http://icons.wxug.com/i/c/k/nt_mostlycloudy.gif</icon_url>\n\t\t<title>Thursday
        Night</title>\n\t\t<fcttext><![CDATA[Mainly cloudy. Low 34F. Winds light and
        variable.]]></fcttext>\n\t\t<fcttext_metric><![CDATA[A few showers this evening
        changing to snow showers overnight. Low 1C. Winds light and variable. Chance
        of precip 40%.]]></fcttext_metric[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=Vail,CO&key=AIzaSyBWMUFnd6Bpid54ZW5XccfTtkITQBNXBtY&language=en-EN&mode=driving&origins=Boulder,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [ "Vail, CO, USA" ],
           "origin_addresses" : [ "Boulder, CO, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "174 km",
                          "value" : 174421
                       },
                       "duration" : {
                          "text" : "2 hours 1 min",
                          "value" : 7244
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 29 Oct 2015 22:46:44 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=Breckendrige,CO&key=AIzaSyBWMUFnd6Bpid54ZW5XccfTtkITQBNXBtY&language=en-EN&mode=driving&origins=Boulder,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [ "Breckenridge, CO 80424, USA" ],
           "origin_addresses" : [ "Boulder, CO, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "149 km",
                          "value" : 148598
                       },
                       "duration" : {
                          "text" : "1 hour 54 mins",
                          "value" : 6827
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 30 Oct 2015 02:33:10 GMT
recorded_with: VCR 2.9.0
