---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=Vali,CO&key=AIzaSyBWMUFnd6Bpid54ZW5XccfTtkITQBNXBtY&language=en-EN&mode=driving&origins=Boulder,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [ "Vail, CO, USA" ],
           "origin_addresses" : [ "Boulder, CO, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "174 km",
                          "value" : 174421
                       },
                       "duration" : {
                          "text" : "2 hours 1 min",
                          "value" : 7234
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 11 Nov 2015 03:49:16 GMT
recorded_with: VCR 2.9.0
