---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/74d34edfa66387c4/forecast/q/80466.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.033'
      Last-Modified:
      - Wed, 11 Nov 2015 03:49:14 GMT
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n<response>\n\t<version>0.1</version>\n\t<termsofService>http://www.wunderground.com/weather/api/d/terms.html</termsofService>\n\t<features>\n\t\t<feature>forecast</feature>\n\t</features>\n\t<forecast>\n\t\t<txt_forecast>\n\t\t<date>8:05
        PM MST</date>\n\t\t<forecastdays>\n\t\t<forecastday>\n\t\t<period>0</period>\n\t\t<icon>snow</icon>\n\t\t<icon_url>http://icons.wxug.com/i/c/k/snow.gif</icon_url>\n\t\t<title>Tuesday</title>\n\t\t<fcttext><![CDATA[Periods
        of heavy snow. Lows overnight in the mid 20s.]]></fcttext>\n\t\t<fcttext_metric><![CDATA[Snow
        likely. Low -4C.]]></fcttext_metric>\n\t\t<pop>80</pop>\n\t\t</forecastday>\n\t\t<forecastday>\n\t\t<period>1</period>\n\t\t<icon>nt_snow</icon>\n\t\t<icon_url>http://icons.wxug.com/i/c/k/nt_snow.gif</icon_url>\n\t\t<title>Tuesday
        Night</title>\n\t\t<fcttext><![CDATA[Snow showers will give way to a steady,
        heavier snow overnight. Low 26F. Winds NE at 15 to 25 mph. Chance of snow
        80%. Snow accumulating 1 to 3 inches. Winds could occasionally gust over 40
        mph.]]></fcttext>\n\t\t<fcttext_metric><![CDATA[Cloudy wi[...]
