---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/b2a489247362d859/forecast/q/80466.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.039'
      Last-Modified:
      - Thu, 24 Sep 2015 20:40:34 GMT
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n<response>\n\t<version>0.1</version>\n\t<termsofService>http://www.wunderground.com/weather/api/d/terms.html</termsofService>\n\t<features>\n\t\t<feature>forecast</feature>\n\t</features>\n\t<forecast>\n\t\t<txt_forecast>\n\t\t<date>1:22
        PM MDT</date>\n\t\t<forecastdays>\n\t\t<forecastday>\n\t\t<period>0</period>\n\t\t<icon>clear</icon>\n\t\t<icon_url>http://icons.wxug.com/i/c/k/clear.gif</icon_url>\n\t\t<title>Thursday</title>\n\t\t<fcttext><![CDATA[Lots
        of sunshine. High 68F. Winds E at 5 to 10 mph.]]></fcttext>\n\t\t<fcttext_metric><![CDATA[Mostly
        sunny. High near 20C. Winds E at 10 to 15 km/h.]]></fcttext_metric>\n\t\t<pop>0</pop>\n\t\t</forecastday>\n\t\t<forecastday>\n\t\t<period>1</period>\n\t\t<icon>nt_clear</icon>\n\t\t<icon_url>http://icons.wxug.com/i/c/k/nt_clear.gif</icon_url>\n\t\t<title>Thursday
        Night</title>\n\t\t<fcttext><![CDATA[Clear skies. Low 46F. Winds SE at 5 to
        10 mph.]]></fcttext>\n\t\t<fcttext_metric><![CDATA[Clear skies. Low 8C. Winds
        SE at 10 to 15 km/h.]]></fcttext_metric>\n\t\t<pop>0</pop>\n\t\t</forecastday>\n\t\t<forecastday>\n\t\t<period>2</period>\n\t\t<icon>cle[...]
[...]
