<div class="row">
  <div class="col-md-6 camera" id="alerts">
<section id="alerts">

  <h3>Traffic Alerts</h3>

  <% @travel_alert.road_alerts.each do |alert| %>
    <h4><%= alert["Title"] %></h4>
    <h4><%= alert["Headline"].gsub('<b>','').gsub('</b>','') %></h4>
    <h4><%= alert["Description"] %></h4>
    <br>
    <h4>****</h4>
    <% end %>

<br>
  </section>

  </div>

  <%= render partial: "shared/road_cameras" %>


</div>




<!--<a class="twitter-timeline" href="https://twitter.com/ColoradoDOT" data-widget-id="646408672243904513">Tweets by @ColoradoDOT</a>-->
<!--< script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';-->
<!--//  if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";-->
    <!--fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");< /script>-->