<div class="row">
  <div class="col-md-3 camera" id="eldora-camera">
    <%= link_to image_tag("http://63.147.112.178:9595/axis-cgi/jpg/image.cgi?resolution=640x480"), "http://63.147.112.178:9595/axis-cgi/jpg/image.cgi?resolution=640x480", :target => "_blank" %>
  </div>

  <div class="col-md-3 camera" id="steamboat-camera">
    <%= link_to image_tag("http://manage.hdrelay.com/snapshot/4b8a8aec-33e6-4cea-b2ac-73759064b0ce?size=710x425&f=300000"), "http://manage.hdrelay.com/snapshot/4b8a8aec-33e6-4cea-b2ac-73759064b0ce?size=710x425&f=300000", :target => "_blank"  %>
  </div>

  <div class="col-md-3 camera" id="breckendrige-camera">
    <%= link_to image_tag("http://common.snow.com/Mtncams/peak8base.jpg"), "http://common.snow.com/Mtncams/peak8base.jpg", :target => "_blank" %>
  </div>

  <div class="col-md-3 camera" id="vail-video">
    <%= link_to image_tag("http://common.snow.com/Mtncams/buffalos.jpg"), "http://common.snow.com/Mtncams/buffalos.jpg", :target => "_blank" %>
  </div>


</div>