<div class="row">
  <div class="col-md-3 camera" id="eldora-camera">
    <a href="http://63.147.112.178:9595/axis-cgi/jpg/image.cgi?resolution=640x480" target="_blank">
      <img src="http://63.147.112.178:9595/axis-cgi/jpg/image.cgi?resolution=640x480">
    </a>

  </div>

  <div class="col-md-3 camera" id="steamboat-camera">
    <a href="http://manage.hdrelay.com/snapshot/4b8a8aec-33e6-4cea-b2ac-73759064b0ce?size=710x425&f=300000" target="_blank">
      <img src="http://manage.hdrelay.com/snapshot/4b8a8aec-33e6-4cea-b2ac-73759064b0ce?size=710x425&f=300000">
    </a>
  </div>

  <div class="col-md-3 camera" id="breckendrige-camera">
    <a href="http://common.snow.com/Mtncams/peak8base.jpg" target="_blank">
      <img src="http://common.snow.com/Mtncams/peak8base.jpg"  width=100%>
    </a>

  </div>

  <div class="col-md-3 camera" id="abasin-video">
    <a href="http://arapahoebasin.com/ABasin/assets/images/webcams/webcam2/abasincam2.jpg" target="_blank">
      <img src="http://arapahoebasin.com/ABasin/assets/images/webcams/webcam2/abasincam2.jpg">
    </a>

  </div>


</div>