<div class="row">
  <div class="col-md-6 camera" id="tweets">
<section id="tweets">
  <a class="twitter-timeline" href="https://twitter.com/ColoradoDOT" data-widget-id="646408672243904513">Tweets by @ColoradoDOT</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </section>

  </div>

  <div class="col-md-6 camera" id="tweets">
    <section id="tweets">
      <h2>Traffic Cameras</h2>
      <%= image_tag "http://i.cotrip.org/dimages/camera?imageURL=remote/TOCCCTV070E21080-STRAIGHT-CREEK-E.jpg&v=00428" %>
      <%= image_tag "http://i.cotrip.org/dimages/camera?imageURL=remote/TOCCCTV070M21500-EJT-TOUR-W.jpg&v=00428" %>

    </section>

  </div>


</div>
