<div class="row">
  <div class="col-md-6 camera" id="tweets">
<section id="tweets">

  <h4>Traffic Alerts</h4>

    <h4><%= @travel_alert.road_alerts %></h4>

  </section>

  </div>

  <%= render partial: "shared/road_cameras" %>


</div>




<!--<a class="twitter-timeline" href="https://twitter.com/ColoradoDOT" data-widget-id="646408672243904513">Tweets by @ColoradoDOT</a>-->
<!--< script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';-->
<!--//  if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";-->
    <!--fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");< /script>-->