<%= image_tag "http://api.wunderground.com/api/#{ENV['WEATHER_API']}/animatedradar/q/CO/Frisco.gif?newmaps=1&timelabel=1&timelabel.y=10&num=5&delay=50", :id =>"radar"%>


<div class="container">
  <h1>
    SkiDash
  </h1>

  <section>

    <%= render partial: "shared/forecasts" %>

    <%= render partial: "shared/camera" %>

    <%= render partial: "shared/tweets" %>

  </section>

</div>

