.row-table.row-table-xs {
    display: table !important;
}

.row-table.row-table-xs > [class*="col-"] {
    float: none !important;
    display: table-cell !important;
    vertical-align: middle;
}

.row-table.row-table-xs > [class*="col-"].td-top {
    vertical-align: top !important;
}

.row-table.row-table-xs > [class*="col-"].td-bottom {
    vertical-align: bottom !important;
}

@media (min-width: 768px) {
    .row-table {
        display: table !important;
    }
    .row-table > [class*="col-"] {
        float: none !important;
        display: table-cell !important;
        vertical-align: middle;
    }
    .row-table > [class*="col-"].td-top {
        vertical-align: top !important;
    }
    .row-table > [class*="col-"].td-bottom {
        vertical-align: bottom !important;
    }
}

body {
    background: url(http://www.traveladventures.org/countries/georgia/images/gudauri-skiing08.jpg) top center;
    color: blue;
    font-family: 'Raleway', sans-serif;
    background-size: cover;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

section {
    background: skyblue;
    color: black;
    margin-bottom: 1em;
    padding: 2em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: large;

}
