.row-table.row-table-xs {
    display: table !important;
}

.row-table.row-table-xs > [class*="col-"] {
    float: none !important;
    display: table-cell !important;
    vertical-align: middle;
}

.row-table.row-table-xs > [class*="col-"].td-top {
    vertical-align: top !important;
}

.row-table.row-table-xs > [class*="col-"].td-bottom {
    vertical-align: bottom !important;
}

@media (min-width: 768px) {
    .row-table {
        display: table !important;
    }
    .row-table > [class*="col-"] {
        float: none !important;
        display: table-cell !important;
        vertical-align: middle;
    }
    .row-table > [class*="col-"].td-top {
        vertical-align: top !important;
    }
    .row-table > [class*="col-"].td-bottom {
        vertical-align: bottom !important;
    }
}


h1 {
    font-family: 'Nunito', sans-serif;
}

section {
    padding: 2em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: medium;
    margin: 2em auto;
    background-color: rgba(0,0,0,.6);
    color: #fff;
    text-align: center;

}

h4#steamboat, h4#breckenridge, h4#eldora, h4#vail  {
    background-color:black;
    color:#1CD06E;
    display:inline;
    font-size:large;
    padding:5px;
    margin-left: 50px;
}

ul#eldora {
    list-style-type: none;
}

img#radar {
    height: 200px;
    width: 225px;
    border-radius: 50%;
    border-style: solid;
    border-width: medium;
    border-color: black;
    margin-top: 10px;
    float: right;
    display: none;
}

.camera {
    text-align: center;
        img {
    max-height: 140px;
    max-width: 100%;
          padding-right: 10px;
          padding-top: 10px;
    }
}


h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

#forecasts {
  min-height: 700px;
}

#forecast-box {
  padding-bottom: 30px;
}

#button {
  padding-top: 65px;
}

#mountain-form {
  background-color: #337ab7;
  color: white;
}