<!DOCTYPE html>
<html>
<head>
  <title>Skidash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Skidash - Dashboard Coming Soon</h1>
<div id="snow">
</div>

<%= yield %>

</body>
</html>
